<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.Last_name %>
</p>

<p>
  <strong>Member number:</strong>
  <%= @user.member_number %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @user.member_since %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
